<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>83576142284-oiopbccat6ovi07j2524bjp72am3rle3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.83576142284-oiopbccat6ovi07j2524bjp72am3rle3</string>
	<key>API_KEY</key>
	<string>AIzaSyCSlMKxq05E6dbhU0PJlZsvZfu4ErK6R3s</string>
	<key>GCM_SENDER_ID</key>
	<string>83576142284</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.yoonunjub.wol</string>
	<key>PROJECT_ID</key>
	<string>yoonu-njub</string>
	<key>STORAGE_BUCKET</key>
	<string>yoonu-njub.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:83576142284:ios:4c1fd6466174111ddd0569</string>
	<key>DATABASE_URL</key>
	<string>https://yoonu-njub.firebaseio.com</string>
</dict>
</plist>